/* Estilo geral para todos os modais */
.modal {
    display: none; /* Modal fica oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 100;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    backdrop-filter: blur(10px);
}



/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}

/* Estilo do título do jogo */
#gameTitle {
    font-size: 24px;
    color: #f0f0f0;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilo da descrição do jogo */
#gameDescription {
    font-size: 16px;
    color: #e6e6e6;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Lista de detalhes do jogo */
#gameDetails {
    list-style-type: none;
    padding: 0;
}

#gameDetails li {
    font-size: 14px;
    color: #f7f7f7;
    margin: 8px 0;
    padding: 8px;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para os títulos dos modais */
#gameTitle, .form-title, .login-title {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}


form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botão de envio do formulário */
form button {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #8b0000;
    font-weight: bold;
}

/* Exibição do modal ao ser ativado */
.modal.show {
    display: flex;
}
